[submodule "python/chess_scrappers"]
	path = python/chess_scrappers
	url = https://github.com/KulAndy/chess-scrappers.git
[submodule "cpp/chess-library"]
	path = cpp/chess-library
	url = https://github.com/Disservin/chess-library.git
[submodule "cpp/mysql-connector-cpp"]
	path = cpp/mysql-connector-cpp
	url = https://github.com/mysql/mysql-connector-cpp.git
