beautifulsoup4==4.14.3
certifi==2026.5.20
charset-normalizer==3.4.7
chess==1.11.2
dnspython==2.8.0
greenlet==3.5.1
idna==3.16
mysql==0.0.3
mysql-connector-python==9.7.0
playwright==1.60.0
pyee==13.0.1
pymongo==4.17.0
python-dateutil==2.9.0.post0
requests==2.34.2
six==1.17.0
soupsieve==2.8.3
typing_extensions==4.15.0
Unidecode==1.4.0
urllib3==2.7.0
